* {
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 300px;
    border: none;
    background-color: #340358;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, burlywood, chocolate);
    text-align: center;
    justify-content: center;
}

.header div {
    min-width: 50%;
    width: 50%;
    height: 100px;
    margin: auto;
    font-max-size: large;
    font-min-size: medium;
    font-size: large;
    padding: 4%;
    color:beige;
    font-family: Apple Chancery, cursive;
    text-shadow: 4px 4px firebrick;
}

.menu{
    width: 100%;
    background-image: linear-gradient(to right, burlywood, chocolate);
    height: 75px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.content{
    width: 100%;
    background-color:  blanchedalmond;
    min-height: 600px;
    display: inline-block;
}

.footer{
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(to right, burlywood, chocolate);
    height:auto;
    min-height: 30px;
}

.menu div{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-items: center;
}


.menu div:hover{
    /*background-image: linear-gradient(to left, blueviolet, fuchsia, darkblue);*/
    cursor: pointer;
    animation: mymove 3s forwards;
}

@keyframes mymove {
    from {background-color: burlywood}
    to {background-color: peru}
}
div a{
    color: white;
    margin: auto;
    text-decoration: none;
}

.menu li{
    float: left;
}

.list{
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    grid-gap: 100px;
}

.serviceContainer{
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 10px;
    display:grid;
    padding: 10px;
    grid-template-areas:
        "img1 img1 img2 img2"
        "img1 img1 img2 img2"
        "none img3 img3 none"
        "none img3 img3 none";
    grid-auto-flow: dense;
}

.serviceContainer > div{
    margin: 20px;
    display: grid;
    border:solid black 1px;
    background-color: antiquewhite;
    color: white;
    font-size: 34px;
    opacity: 0.4;
    border-radius: 25px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

@keyframes opacityChanging {
    from {opacity: 0.4}
    to {opacity: 1.0}
}
.serviceContainer > div:hover{
    animation: opacityChanging 3s forwards;
}
#img1{
    background-image: url("naprawa.jpg");
    background-size: cover;
    background-position: center;
    grid-area: img1;
    grid-row: span 2;
    grid-column: span 2;
}

#img2{
    background-image: url("strojenie.jpg");
    background-size: cover;
    background-position: center;

    grid-area: img2;
    grid-row: span 2;
    grid-column: span 2;
}

#img3{
    background-image: url("Lutnictwo.jpg");
    background-size: cover;
    background-position: center;

    grid-area: img3;
    grid-row: span 2;
    grid-column: span 2;
}
#none{
    visibility: hidden;
}

.serviceText{
    margin: auto;
}

/*.productsContainer{*/
/*    grid-template-columns: repeat(4, auto);*/
/*    grid-template-rows: 200px;*/
/*    grid-gap: 30px;*/
/*    display:grid;*/
/*    padding: 10px;*/
/*    grid-template-areas:*/
/*    "column1 column2 column3 column4"*/
/*    "content1 content2 content3 content4";*/
/*    grid-auto-flow: dense;*/


/*}*/

.contentP >div{
    margin: 20px;
    display: grid;
    border:solid black 1px;
    background-color: antiquewhite;
    color: white;
    font-size: 34px;
    opacity: 0.4;
    border-radius: 25px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

#column1{
    grid-area: column1;
    background-image: url("struny.jpg");

}

#column2{
    grid-area: column2;
    background-image: url("paleczki.jpg");
}

#column3{
    background-image: url("trabki.jpg");
    grid-area: column3;
}

#column4{
    background-image: url("kostka.jpg");
    grid-area: column4;
}


.productsText{
    user-select: none;
    margin: auto;
}


#column1Content{
    visibility: hidden;
    grid-area: content1;
}
#column2Content{
    visibility: hidden;
    grid-area: content2;
}
#column3Content{
    visibility: hidden;
    grid-area: content3;
}
#column4Content{
    visibility: hidden;
    grid-area: content4;
}
.notVisibleUntilClickOnColumn{
    text-align: center;
    color: black;
    background-image: linear-gradient(to right, burlywood, chocolate);
}

#column1Content, #column2Content, #column3Content, #column4Content{
    color: black;
    text-shadow: none;
    opacity: 1.0;
}
.contentP{
    grid-template-columns: repeat(4, auto);
    background-color:  blanchedalmond;
    grid-template-rows: 200px;
    grid-gap: 30px;
    display:grid;
    padding: 10px;
    grid-template-areas:
    "column1 column2 column3 column4"
    "content1 content2 content3 content4";
    grid-auto-flow: dense;


}
.categories{
    background-size: cover;
    user-select: none;
}
.categories:hover{
    cursor: pointer;
    animation: opacityChanging 1s forwards;
}

.contactContent{
    grid-template-columns: repeat(2, auto);
    background-color:  blanchedalmond;
    grid-template-rows: auto;
    margin: 100px;
    grid-gap: 30px;
    display:grid;
    padding: 30px;
    grid-template-areas:
    "column1 column2";
    grid-auto-flow: dense;

    text-align: center;
    font-size: 24px;
}

.contactText{
    padding: 60px;
    grid-area: column1;
    border:solid 1px black;
    border-radius: 25px;
    text-align: center;
    color: black;
    background-image: linear-gradient(to right, burlywood, chocolate);
}

.contactInfo{
    color: black;
    padding: 60px;
    grid-area: column2;
    border:solid 1px black;
    border-radius: 25px;
    background: linear-gradient(to right, burlywood, chocolate);
    float: bottom;
}
.arrowDown {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 50%;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-top: 1vmin solid orangered;
    border-right: 1vmin solid orangered;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
    transform: translate3d(0,-50%,0) rotate(135deg);
    cursor: pointer;
}

.arrowDown:hover{
    border-color: black;
    box-shadow: 0.5vmin -0.5vmin 0 orangered    ;
    float: none;
}

.boxForArrow{
    width: 100%;
    height: 30px;
}

#formBox{
    background: linear-gradient(to right, bisque, burlywood, peru);
    border: solid 1px black;
    border-radius: 25px;
    padding: 25px;
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    visibility: visible;
    color: black;
    font-family: Apple Chancery, cursive;
    min-width: 60%;
    box-sizing: border-box;
}

.col-25{
    margin-left: 1%;
    width: 24%;
    float: left;
}

.col-75{
    width: 74%  ;
    float: left;
    margin-right: 1%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: vertical;
}


textarea{
    height: 200px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

#ContactFormSubmitButton{
    width: 75%;
    color: white;
    border-radius: 15px;
    background-color: #333333;
    margin-left: 25%;

}

#ContactFormSubmitButton:hover{
    animation: mymove 1s forwards;
    cursor: pointer;
}