* {
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 300px;
    border: none;
    background-color: #340358;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, burlywood, chocolate);
    text-align: center;
    justify-content: center;
}

.header div {
    min-width: 50%;
    width: 50%;
    height: 100px;
    margin: auto;
    font-max-size: large;
    font-min-size: medium;
    font-size: large;
    padding: 4%;
    color:beige;
    font-family: Apple Chancery, cursive;
    text-shadow: 4px 4px firebrick;
}

.menu{
    width: 100%;
    background-image: linear-gradient(to right, burlywood, chocolate);
    height: 75px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.content{
    width: 100%;
    background-color: floralwhite;
    min-height: 600px;
    display: inline-block;
}

.footer{
    width: 100%;
    background-image: linear-gradient(to right, burlywood, chocolate);
    height: 20px;
}

.menu div{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-items: center;
}


.menu div:hover{
    /*background-image: linear-gradient(to left, blueviolet, fuchsia, darkblue);*/
    cursor: pointer;
    animation: mymove 3s forwards;
}

@keyframes mymove {
    from {background-color: burlywood}
    to {background-color: peru}
}
div a{
    color: white;
    margin: auto;
    text-decoration: none;
}

.menu li{
    float: left;
}

.list{
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    grid-gap: 100px;
}

.serviceContainer{
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 10px;
    display:grid;
    padding: 10px;
    grid-template-areas:
        "img1 img1 img2 img2"
        "img1 img1 img2 img2"
        "none img3 img3 none"
        "none img3 img3 none";
    grid-auto-flow: dense;
}

.serviceContainer > div{
    margin: 20px;
    display: grid;
    border:solid black 1px;
    background-color: antiquewhite;
    color: white;
    font-size: 34px;
    opacity: 0.4;
    border-radius: 25px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

@keyframes opacityChanging {
    from {opacity: 0.4}
    to {opacity: 1.0}
}
.serviceContainer > div:hover{
    animation: opacityChanging 3s forwards;
}
#img1{
    background-image: url("naprawa.jpg");
    background-size: cover;
    background-position: center;
    grid-area: img1;
    grid-row: span 2;
    grid-column: span 2;
}

#img2{
    background-image: url("strojenie.jpg");
    background-size: cover;
    background-position: center;

    grid-area: img2;
    grid-row: span 2;
    grid-column: span 2;
}

#img3{
    background-image: url("Lutnictwo.jpg");
    background-size: cover;
    background-position: center;

    grid-area: img3;
    grid-row: span 2;
    grid-column: span 2;
}
#none{
    visibility: hidden;
}

.serviceText{
    margin: auto;
}

/*.img3{*/
/*    grid-area: img3;*/
/*}*/

/*.none{*/
/*    grid-area: none;*/
/*}*/